{% extends 'base.html' %}

{% block content %}
    <form action="" method="POST" class="formsik">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-inline">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <input type="submit" value="Rezerwuj" class="btn btn-secondary">
    </form>
    Our rooms: 
    <br>
    {% for room in room_list %}
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{room.name}}</h5>
          <p class="card-text">{{room.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Max ilość osób: {{room.capacity}}</li>
          <li class="list-group-item">Projektor: {% if room.projector %}Dostępne{% else %}Brak{% endif %}</li>
          <li class="list-group-item">Wifi: {% if room.Wifi %}Dostępne{% else %}Niedostępne{% endif %}</li>
        </ul>
        {{room.id}}
        <div class="card-body">
          <a href="{% url 'room' room.id %}" class="card-link">Card link</a>
        </div>
      </div>
    {% endfor %}
{% endblock %}






