{% extends 'base.html' %}

{% block content %}
    <form method="GET" action="">
      <label for="min_capacity">Minimalna liczba osób:</label>
      <input type="number" id="min_capacity" name="min_capacity" />
  
      <label for="max_capacity">Maksymalna liczba osób:</label>
      <input type="number" id="max_capacity" name="max_capacity" />
  
      <label for="wifi">WiFi:</label>
      <select id="Wifi" name="Wifi">
        <option value="">-- Wybierz --</option>
        <option value="tak">Tak</option>
        <option value="nie">Nie</option>
      </select>
      <label for="projector">Projektor:</label>
      <select id="projector" name="projector">
        <option value="">-- Wybierz --</option>
        <option value="tak">Tak</option>
        <option value="nie">Nie</option>
      </select>
      <label for="date">Data rezerwacji:</label>
      <input type="date" id="date" name="date" />
      <label for="start_time">Godzina rozpoczęcia rezerwacji:</label>
      <input type="time" id="start_time" name="start_time" />
      <label for="end_time">Godzina zakończenia rezerwacji:</label>
      <input type="time" id="end_time" name="end_time" />
      <button type="submit">Filtruj</button>
    </form>
    Our rooms: 
    <br>
    {% for room in room_list %}
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{room.name}}</h5>
          <p class="card-text">{{room.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Max ilość osób: {{room.capacity}}</li>
          <li class="list-group-item">Projektor: {% if room.projector %}Dostępne{% else %}Brak{% endif %}</li>
          <li class="list-group-item">Wifi: {% if room.projector %}Dostępne{% else %}Niedostępne{% endif %}</li>
        </ul>
        {{room.id}}
        <div class="card-body">
          <a href="{% url 'room' room.id %}" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    {% endfor %}
{% endblock %}





