{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'addRoom' %}" class="btn btn-primary">Dodaj nowy pokój</a>
    <h1>Lista pokoi</h1>
    
    {% for room in room_list %}
    <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
        <h4 class="card-title">{{room.name}}</h4>
        <h6 class="card-title">ID: {{room.id}}</h6>
        <p class="card-text">{{room.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Max ilość osób: {{room.capacity}}</li>
        <li class="list-group-item">Projektor: {% if room.projector %}Dostępne{% else %}Brak{% endif %}</li>
        <li class="list-group-item">WiFi: {% if room.WiFi %}Dostępne{% else %}Niedostępne{% endif %}</li>
        </ul>
        <div class="card-body">
        <a href="{% url 'roomAdmin' room.id %}" class="btn btn-secondary">Edytuj pokój</a>
        <a href="{% url 'deleteRoom' room.id %}" class="btn btn-danger">Usuń pokój</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}